.lessonContainer {
  border: 1px solid rgb(21, 141, 31);
  border-top: 5px solid rgb(21, 141, 31);
}

.userFrame {
  height: 326px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.servicesHeader {
  padding-bottom: 25px !important;
  margin-top: 20px;
  font-weight: normal !important;
  color: rgb(79, 79, 79);
  margin-bottom: 20px;
  height: 66px !important;
}


.calendar-header {
  background: #213841;
  color: white;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  font-size: 1.4em;
  padding: 10px;


}

.cTable td.fit,
.cTable th.fit {
  white-space: nowrap;
  width: 1%;
}

.dow-header {
  background: #879EA7;
  color: white;
}



td {
  border-top: none !important;
}

.lesson {
  font-size: 1.3em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  padding: 20px;
}

.heading {
  background: url('https://images.summitpost.org/original/707386.JPG');
  width: 100%;
  height: 300px;
  background-size: cover;

  display:flex;
  justify-content:center;
  align-items:center;

}

.heading > span {
  font-size: 2em;
}

.conversation {
  padding: 15px;
  padding-left: 40px;
  padding-right: 15px;
}

.conversation:hover {
  background: #F3F3F3;
}

.conversations {
  border-right: 1px solid #CBCBCB;
  padding-left: 0 !important;
  height: 600px;
  overflow-y: auto;
}

.conversation.active {
  background: #F3F3F3;
}

.conversation > h4 {
  display: inline;
}

.conversation > span {
  color: rgba(0, 0, 0, .40);
}

.message {
  max-width: 51%;
  margin-bottom: 15px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid red;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.messages {
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #CBCBCB;
  margin-left: -1px;
  height: 600px;
  overflow-y: auto;
}

.message-header > h3{
  display: inline;
}

.message.pull-right {
  background: green;
  border-color: green;
  color: white;
}

.message.pull-left {
  background: #CBCBCB;
  border-color: #CBCBCB;
}

::-webkit-scrollbar{width: 2px;}

::-webkit-scrollbar-thumb{background-color:rgb(120, 120, 120); border-radius: 0;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(196, 196, 196);}

::-webkit-scrollbar-track{background-color:rgb(237, 237, 237);}

.noPad {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

label > span {
  color: black;
  line-height:40px;height:40px;
}

.newConversation {
  margin-top: 50px;
  margin-bottom: 50px;
}

.newConversation {
  border-left: 1px solid red;
}

.pills-container {
  width: 791px;
  border: 1px solid rgb(21, 141, 41);
  margin: auto;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}

.pills-container-2 {
  width: 528px;
  border: 1px solid rgb(21, 141, 41);
  margin: auto;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}

.pill {
  width: 263px !important;
  text-align: center;
  display:inline-block;
  margin: 0;
  height:57px;
  font-size: 1.7em;
  font-weight: 300;
  padding-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.pill.active {
  background: rgb(21, 141, 41);
  color: white;
}

.nbpanel > .panel-header {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align:center;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nbpanel > .panel-body {
  font-size: 1.8em;
  text-align:center;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.nbpanel-grey > .panel-body {
  background: rgb(244, 246, 248);
}
.nbpanel-grey > .panel-header {
  background: rgb(75,75,75);
  color: white;
}

.nbpanel-green > .panel-body {
  background: rgb(244, 246, 248);
}
.nbpanel-green > .panel-header {
  background: rgb(21, 141, 41);
  color: white;
}

.nbpanel-orange > .panel-body {
  background: rgb(244, 246, 248);
}
.nbpanel-orange > .panel-header {
  background: rgb(240, 132, 35);
  color: white;
}

.nbpanel-bigheader > .panel-header {
  font-size: 1.6em;
  padding-top: 5px;
  padding-bottom: 5px;

}


.nbpanel-red > .panel-body {
  background: rgb(244, 246, 248);
}
.nbpanel-red > .panel-header {
  background: rgb(240,19,26);
  color: white;
}

.dblesson {

}

.dblesson-title {
  padding-left:20px;
  padding-top: 8px;
  background: red;
  height: 40px;
  color: white;
  font-size: 1.2em;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dblesson-timer {
  float: right;
  background: white;
  padding: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-top:-2px !important;
  margin-right: 10px;
  font-size: 0.8em;
}

.dblesson-name {
  background: rgb(244,246,248);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  font-size: 1.5em;
  font-weight: 400;
}

.dblesson-lowpoints {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgb(75, 75, 75);
  color: white;
  font-size: 1.45em;
}

.dblesson-lowpoints-lst {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(244,246,248);
  font-size:1.35em;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dbl-green > .dblesson-title {
  background: rgb(21, 141, 41);
}

.dbl-green > .dblesson-title >.dblesson-timer {
  color: rgb(21, 141, 41) !important;
}

.messagerie-heading {
  padding-top: 21px;
  height: 535px;
  background: url("../img/bg.png");
  background-size:cover;
  color: white;
}


.dbl-orange > .dblesson-title {
  background: rgb(240, 132, 35);
}

.dbl-orange > .dblesson-title >.dblesson-timer {
  color: rgb(240, 132, 35);
}
.dbl-red > .dblesson-title {
  background: rgb(240, 19, 26);
}

.dbl-red  > .dblesson-title >.dblesson-timer {
  color: rgb(240, 19, 26);
}


.tbl-db th {
  background: rgb(75,75,75);
  color: white;
}

.tbl-db > tr {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-monitor-add {
  display: flex;
  input {
    width: 40%;
  }
  button {
    margin-left: 20px;
    height: 40px;
  }
}

