nav {
  height: 100px !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.brand-logo {
  padding: 10px;
}


.nav-center {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  height:80px;
}

.serviceLst > li {
  font-size: 1.6em;
  color: rgb(118, 118, 118);

}



.serviceLst, .servicesorange, .servicesgreen {
  list-style-type:none;
  margin-left: 160px;
  text-align: left;
  margin-bottom:20px;
}

.serviceLst {
  list-style-image: url('../img/orange-bullet.png');
}

.servicesorange {
  list-style-image: url('../img/orange-bullet.png');
}
.servicesgreen {
  list-style-image: url('../img/green-bullet.png');
}

.serviceLst > li, .servicesgreen > li, .servicesorange > li {
  padding-left:20px;
}

.plan1 > ul > li, .plan2 > ul > li, .plan3 > ul > li {
  list-style-type:none;
  text-align: left;
  margin-bottom:20px;
}

.plan1 > ul > li {
  list-style-image: url('../img/green-bullet.png');
}
.plan2 > ul > li {
  list-style-image: url('../img/orange-bullet.png');
}
.plan3 > ul > li {
  list-style-image: url('../img/red-bullet.png');
}
.plan > b {
  font-size:1.2em;
}


.nav>li>a {
  font-size: 1em !important;
  color:gray;
}


.fa-home {
  font-size: 1.6em !important;
}


.btnTry {
  width: 100%;
  height: 85px !important;
  margin-top:15px;
  font-size: 1.7em !important;
}

.pubtext {
  display:flex;
  justify-content:center;
  align-items:center;
  height:140px;
}

.btnDownloadApp {
  background: red;
}

.bordered {
  border: 1px solid red;
}

.txtLbl {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  font-size: 0.9em;
}

.txtIcons {
  padding: 5px;
  font-size: 3em !important;
}

.bigIcons {
  font-size: 8em !important;
  padding: 30px;
}

.featuresLabel {
  margin-top: 5px;
  font-size: 1.6em;
}

.txtIconsStars {
  padding: 5px;
  font-size: 1em !important;
}

.blueDiv {
  background: rgba(228, 232, 237, 1) !important;
  padding-bottom: 30px;
}

.greenPanel {
  padding-top: 10px;
  padding-bottom: 40px;
  background: rgb(108, 108, 108);
  color:white;
  text-align: center;
}

.signup-panel {
  width: 65% !important;
  padding: 20px;
  background: rgba(220, 220, 220, 0.8);
  margin: auto;
}

.signUpBG {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/arbres.png");
  background-size:cover;

}

.btnSignUp {
  height: 50px;
  width: 140px;
  font-size: 1.1em;
}

label {
  font-size: 1.2em;
  color:white;
}

input, select {
  height: 40px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
}

.plan {
  background: white;
}


.pricePlan {
  font-size: 2em;
}

.planTime {
  font-size: .7em;
  color: rgb(147, 147, 147);
}

.plan > ul > li {
  font-size: 1.3em;
}

.planCaret {
  height: 2px;
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hCaret {
  height: 1px;
  width: 90%;
  background: rgba(220, 220, 220, 1);
  margin-top: 5px;
  margin-bottom: 5px;
}

.plan1 {
  border-top: 4px solid rgb(63, 140, 51);
}
.plan1 > center > .planCaret,
.plan1 > form >  center  > .btnPickPlan {
  background: rgb(63, 140, 51) !important;
}

.plan2 {
  border-top: 4px solid rgb(228, 138, 50);
}
.plan2 > center > .planCaret,
.plan2 > form > center > .btnPickPlan {
  background: rgb(228, 138, 50);
}

.plan3 {
  border-top: 4px solid rgb(223, 51, 34);
}
.plan3 > center > .planCaret,
.plan3 > form > center > .btnPickPlan {
  background: rgb(223, 51, 34);
}

.btnPickPlan {
  color: white;
  width: 60%;
}

input {
  margin-bottom: 10px;
}

.planPanel {
  display:flex;
  justify-content:center;
  align-items:center;
  height:230px;
  padding-right: 80px;
  padding-left: 20px;
}

.plandetails {
  padding-top: 20px;
  background: white;
  width: 320px;
}

.plandetails > center > b {
  font-size: 1.3em;
}

.detailsPanel {
  padding-left: 80px;
  padding-right: 20px;
}

.white {
  color:white;
  font-size: 2em;
}

.btnConfirm {
  height: 50px;
  width: 200px;
  font-size: 1.2em;
}

.btnGreen {
  background: rgb(63, 140, 51);
  color: white;
  padding-right: 30px;
  padding-left: 30px;

  font-size: 1.3em;
}

.btnGrey {
  background: rgb(223, 223, 223);
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  color: black;
  font-size: 1.3em;
}

.btnSQGreen {
  background: rgb(63, 140, 51);
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  border-radius: 7px !important;
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 1.3em;
}

.btnGreen:hover {
  background: rgb(71, 148, 59);
  color: white !important;
}

.btnOrange {
  background: rgb(228, 138, 50);
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 1.3em;
}

.btnOrange:hover {
  background: rgb(236, 136, 58);
  color: white !important;
}



.eula {
  font-size: 1.7em;
}

.signup-panel-pad {
  padding-left: 120px;
  padding-right: 120px;
}


.security-stmt {
  font-size: 2em;
}


.footerLinks:first-of-type {
  border-left: 0;
}

.footerLinks {
  border-left: 2px solid rgb(38, 38, 38);
}

.footerLinks {
  font-size: 1.5em;
  color:rgb(38, 38, 38);
  padding-left: 40px;
  padding-right: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.footerLinks:hover {
  text-decoration: none;
}


.copyright {
  font-size: 1.5em;
  color:rgb(38, 38, 38);
  margin-right: 30px;
}

.social-icons>img {
  padding-left: 10px;
}

.motto {
  font-size: 1.6em !important;
  color: rgb(106, 106, 106);
}

.feedback {
  font-size: 1.45em;
}
.feedbackHeader {
  font-size: 2.35em;
}

.feedbackPanel {
  padding-left: 100px;
  padding-right: 100px;
}



.txtCarouselBody {
  font-size: 1.6em;
}

.barlink > .btnGreen, .barlink > .btnOrange {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.1em;
}

.rtp-indexitem {
  margin-bottom: 15px;
}



@media(max-width: 1050px) {
  .footerLinks {
    font-size: 1em;
  }

  .copyright {
    font-size: 1em;
  }

  .motto {
    font-size: 1em !important;
  }

  .btnTry {
    font-size: 1.4em !important;
  }
}
@media(max-width: 906px) {
  .btnTry {
    font-size: 1.2em !important;
  }

  .txtCarouselBody {
    font-size: 1.4em;
  }

}

@media(max-width: 960px) {
  .feedback {
    font-size: 1em;

  }
  .feedbackHeader {
    font-size: 1.9em;
  }
}

@media(max-width: 800px) {
  .footerLinks, .copyright, .motto{
    font-size: 0.8em !important;
  }

  .footerLinks, .copyright {
    margin-bottom: 10px !important;
  }
}

@media(max-width: 720px) {
  .txtCarouselBody {
    font-size: 1.2em;
  }
  .greenPanel>h1 {
    font-size: 2.2em;
  }
  .feedback {
    font-size: 1.0em;
  }
  .feedbackHeader {
    font-size: 2.0em;
  }

  .footerLinks, .copyright, .motto{
    font-size: 0.6em !important;
  }
}

@media(max-width: 450px) {
  .greenPanel>h1 {
    font-size: 1.7em;
  }

  .feedbackHeader {
    font-size: 1.5em;
  }
}

.pourquoirtp {
  font-size: 1.7em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(108, 108, 108);
}

.pourquoirtp > li {
  margin-bottom: 10px;
}

.pourquoirtp > li:before {
  content: " - ";
}

.services-list {
  font-size: 1.7em;
  list-style-type: none;
  color: rgb(108, 108, 108);
}

.mobile-markets-links {
  display:flex;justify-content:center;align-items:center;height:350px;
}

.servicesHeader {
  padding-bottom: 25px !important;
  margin-top: 20px;
  font-weight: normal !important;
  color: rgb(79, 79, 79);
  margin-bottom: 20px;
  height: 66px !important;
}

.btnContainers {
  margin-top: 300px;
}

.offres-header {
  padding-top: 20px;
  padding-bottom: 17px;
  margin: none !important;
  background: rgba(220, 220, 220, 0.6);
}

.offres-header > h2 {
  display: inline;
  color: white;
}

.plansBG {
  padding-top: 7px;
  padding-bottom: 40px;
  background: url("../img/routebg.png");
  background-size:cover;
}

.offres-panel {
  padding-top: 20px;
  padding-bottom: 17px;
  margin: none !important;
  background: rgba(220, 220, 220, 0.8);
}


.plans-list {
  font-size: 1.9em;
  color: black !important;
  list-style-type: none;
  color: rgb(108, 108, 108);
  list-style-image: url('../img/check-green.png');
  margin-right:330px;


}

.plans-list > li {
  margin-left: 150px;
  margin-bottom:20px;
}



.temoignages-heading {
  padding-top: 50px;
  height: 420px;
  background: url("../img/new-york.png");
  background-size:cover;
  color: white;
}

.contact-heading {
  padding-top: 21px;
  height: 535px;
  background: url("../img/road.png");
  background-size:cover;
  color: white;
}

.temoignages-header {
  padding-top: 20px;
  padding-bottom: 17px;
  margin: none !important;
  background: rgba(220, 220, 220, 0.2);
  font-weight: 400;
  font-size: 3em;
}

.temoignage-text {
  font-size: 1.4em;
}

.temoignage-blue {
  background: rgb(227, 232, 237);
}

.temoignage {
  padding: 40px;
  margin-bottom: 4em;

  .name {
    font-size: 1.3em;
  }
}


.helpsectionheader {
  background: rgb(108,108,108);
  color: white;
  height: 55px;
  font-size: 2em;
  padding-top: 10px;
  padding-left: 10px;
}

.nav>li>a {
  font-size: 0.85em !important;
}

@media screen and (max-width: 1685px) {
  .img-ariane {
    width: 50vw;
    height: auto;
  }
}

.rtp-carousel {
  padding: 0;

  img {
    width: 100%;
    max-height: 70vh;
  }
}

.color-grey {
  color: rgb(96,96,96);
}

.content-app-container {
  margin-top: 100px;
}

#services {
  .why-use {
    padding-left: 30px;
  }

  .carousel-inner {
    width: 800px;
    height: 400px;
  }

  .btnGrey {
    margin-left: 10px;
  }

  .store {
    width: 270px;
  }

  .google-play {
    width: 310px;
  }
}

.image-article {
  width: 340px;
  height: 150px;

  .item {
    img {
      width: 340px;
      height: 150px;
    }
  }
}

.fontSize {
  font-size: 1.4em;
}

.caret-right {
  font-size: 3em;
  padding-top: 100px;
}

.caret-left {
  font-size: 3em;
  padding-top: 100px;
  margin-right: -30px;
}

.calendar {
  min-height: 500px;
  min-width: 50vw;
  height: 50vh;
  display: block;
}

.react-date-field {
  border: 0!important;
}
